/*en la parte del menu o nav
Convinacion de selectores
1ra por un espacion y el nombre del selector
Conbinacion gerarquica, solo se aplica cuando hay un padre con la clase
menu y tiene un hijo con el elemento li
.menu li {

}
2da con una ¨,¨
.menu, li {

}

Convinaciones de selectores*/
/*Jerarquica*/
.menu li{
    /*Que la lista desaparezca*/
    list-style: none;
    /*Para que se vea en linea*/
    display: inline-block;
    /*margen: aplica a los cuatro lados*/
    /*margin: 10px;
    /*El primer numero aplica arriba y abajo y el segundo a los lados*/
    margin: 10px 50px;
    /*En sentido horario arriba derecha abajo e izquierda*/
    /*margin: 10px 20px 30px 40px;
    /*Esto aplica para el border y Padding*/
    border: 1px dotted black;
    border-color: whitesmoke;
    padding: 10px;
    /*Escoger letra especifica*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.menu {
    background: #2C3E50;
    padding: 5px 15px;
    /*text-align: left;*/
    color: white;
}

h1 {
    font-size:  25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {
    font: bold 14px sans-serif;
}

body {
    /*Alinear al centro*/
    text-align: center;
    background: #f0f0f0;
}

.agrupar {
    border: 1px solid black;
    background-color: #b0bbc7;
    /*Ancho*/
    width: 900px;
    height: 1500px;
    /*Centra el contenedor*/
    margin: 20px auto;
    color: white;
}

.cabecera {
    background: #2C3E50;
    border: 10px double white;
    padding: 20px;
    color: white;
}

.seccion {
    width: 600px;
    margin: 10px;
    float: left;
}

#idarticulo1, #idarticulo2 {
    background: #3c546d;
    border: 10px double white;
    padding: 20px;
}

article footer {
    text-align: right;
    
}

.referencias {
    width: 200px;
    float: right;
    margin: 10px 40px;
}

/*El pie de la pagina debe tener el estilo clear both*/
.pie {

    clear: both;
    color: black;
}

blockquote {

    border: 5px solid black;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    /*width: 150px;*/

}

img {
    width: 250px;
    height: 200px;

    margin: auto auto;
}

/*Por selector tipo elemento: tiene dos estilos para las dos selectores*/